
@charset "utf-8";


ul{
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
          margin-bottom:25px;           
      }
      ul li img {
         // width:40%;
      }

html { 
  background: url(../Images/backgroundcontrol.jpg)repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

html, body{

font-family: 'Open Sans', sans-serif!important;
  background-color:transparent!important;
}

h2,h3,span{

color:white!important;

}

select{

font-size:20px;

}

.link{

cursor:pointer;

}

.font1{

font-size:10px!important;

}

.font2{

font-size:20px!imporant;

}

.font3{

font-size:30px!important;

}

.clear{

clear:both!important;

}

.floatleft{

float:left;
width:50%;

}

.margin-top1{

margin-top:10px;

}

.margin-top5{

margin-top:50px;

}

.margin1{

margin:10px;

}

.timesection,.teamsection,.goalsection,.foulsection{

background-color:rgba(6, 3, 3, 0.5);
border-radius:20px;
margin:10px;
padding:20px;
overflow:auto;

}

.hidden{

display:none;

}

.btn-xlg{

font-size:70px!important;

}

.sethalf{

width:initial!important;

}

.mobilecontrol{

margin:10px;

}


@media (max-width:400px){


 .ajax-upload-dragdrop, .ajax-file-upload-statusbar{
 
width:90%!important;

 }

.timesection,.teamsection,.goalsection,.foulsection{

display:none;

}

.width-btn{

width:150px;
margin:5px;
}


}

@media(min-width:401px){


.width-btn{

width:150px;
margin:10px;
}

.mobilecontrol{

display:none;

}

}

.itemimage {
  height: 100%;
  max-height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  }
  
 .imageholder{
 text-align:center;
 position:relative;
 
 }
 
 
 .emblems{
 
 text-align:center;
 width:80%;
 margin-left:auto;
 margin-right:auto;
 
 }
 
 
 .ajax-upload-dragdrop, .ajax-file-upload-statusbar{
 
 margin-left:auto!important;
 margin-right:auto!important;

 }
 
 